* {
  font-family: "Inter", sans-serif;
}

.rf-main {
  height: 100vh;
}

.rf-main #home,
.rf-main #json-tree {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
