.rf-main #home .rf-title {
  font-size: 48px;
  font-weight: 700;
}

.rf-main #home .rf-subtitle {
  font-size: 24px;
  font-weight: 400;
  margin: 24px 0;
}

.rf-main #home .rf-button {
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: #1867c0;
  color: #fff;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.rf-main #home .rf-button > img {
  width: 18px;
  margin-left: 12px;
  margin-right: 8px;
}

.rf-main #home .rf-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  left: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}

.rf-main #home .rf-button:hover::before {
  opacity: calc(0.04 * 2);
}

.rf-main #home #rf-upload {
  opacity: 0;
}

.rf-main #home #rf-error {
  margin-top: 24px;
  font-size: 16px;
  color: #BF0E0E;
}

.rf-main #home .rf-error--hidden {
  display: none;
}