.rf-main #json-tree {
  display: none;
  max-width: 450px;
  max-height: 602px;
  align-items: flex-start;
  margin: 0 auto;
  padding: 16px 0;
}

.rf-main #json-tree .rf-content {
  padding-left: 16px;
  margin: 5px 0 5px 2px;
  border-left: 1px solid #bfbfbf;
  transition: ease-in-out .1s;
}

.rf-main #json-tree .rf-content--close {
  overflow: hidden;
  height: 0;
}

.rf-main #json-tree .rf-key,
.rf-main #json-tree .rf-attribute {
  color: #4e9590;
}

.rf-main #json-tree .rf-attribute,
.rf-main #json-tree .rf-row {
  display: flex;
  column-gap: 8px;
  padding: 2px;
  cursor: default;
}

.rf-main #json-tree .rf-content:hover,
.rf-main #json-tree .rf-row:hover + .rf-content,
.rf-main #json-tree .rf-content--hover  {
	border-color: #808080;
}

.rf-main #json-tree .rf-row--collapse {
  cursor: pointer;
}

.rf-main #json-tree .rf-row--collapse .rf-collapse {
  transition: ease-in-out .2s;
}

.rf-main #json-tree .rf-row--collapse .rf-collapse--open {
  transform: rotate(90deg);
}

.rf-main #json-tree .rf-row:hover {
  background-color: #bfbfbf50;
}

.rf-main #json-tree .rf-column {
  display: flex;
  flex-direction: column;
}

.rf-main #json-tree .rf-attribute--column {
  flex-direction: column;
}


.rf-main #json-tree .rf-scope {
  overflow: auto;
  width: 100%;
  height: calc(100% - 49px);
}

.rf-main #json-tree .rf-attribute .rf-scope .rf-content,
.rf-main #json-tree .rf-content--column {
  display: flex;
  flex-direction: column;
}

.rf-main #json-tree .rf-key--row {
  display: flex;
  column-gap: 8px;
}

.rf-main #json-tree .rf-value {
  color: #000;
}

.rf-main #json-tree .rf-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.rf-main #json-tree .rf-bracket {
  color: #f2cab8;
}
